<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

	<Properties>
		<Property name="LOG_PATTERN"
			value="%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %p %m%n" />
		<Property name="APP_LOG_ROOT" value="c:/logs/employee-service" />
	</Properties>

	<Appenders>
		<Console name="console" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="${LOG_PATTERN}" />
		</Console>
		<RollingFile name="applicationLog"
			fileName="${sys:APP_LOG_ROOT}/application.log"
			filePattern="${sys:APP_LOG_ROOT}/application-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout pattern="${LOG_PATTERN}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="19500KB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>
		<RollingFile name="springLog"
			fileName="${sys:APP_LOG_ROOT}/spring-framework.log"
			filePattern="${sys:APP_LOG_ROOT}/spring-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout pattern="${LOG_PATTERN}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="19500KB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>
		<RollingFile name="requestresponselog"
			fileName="${sys:APP_LOG_ROOT}/requestresponse.log"
			filePattern="${sys:APP_LOG_ROOT}/requestresponse-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout pattern="${LOG_PATTERN}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="19500KB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>
		<RollingFile name="externallog"
			fileName="${sys:APP_LOG_ROOT}/externallog.log"
			filePattern="${sys:APP_LOG_ROOT}/externallog-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout pattern="${LOG_PATTERN}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="19500KB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>
	</Appenders>

	<Loggers>
		<Logger name="com.prs.services.employee" additivity="false"
			level="debug">
			<AppenderRef ref="applicationLog" />
			<AppenderRef ref="console" />
		</Logger>
		<Logger name="com.prs.services.aop.ClientLoggingAspect"
			additivity="false" level="info">
			<AppenderRef ref="requestresponselog" />
			<AppenderRef ref="console" />
		</Logger>
		<Logger name="com.prs.services.aop.ExternalLoggingAspect"
			additivity="false" level="info">
			<AppenderRef ref="externallog" />
			<AppenderRef ref="console" />
		</Logger>
		<Logger name="org.springframework" additivity="false"
			level="error">
			<AppenderRef ref="springLog" />
			<AppenderRef ref="console" />
		</Logger>
		<Root level="INFO">
			<AppenderRef ref="console" />
		</Root>
	</Loggers>
</Configuration>